@mixin f44 {
  line-height: 1;
  font-size: 4.4rem;
}

@mixin f38 {
  line-height: 1;
  font-size: 3.8rem;
}

@mixin f30 {
  line-height: 1;
  font-size: 3rem;
}

@mixin f25 {
  line-height: 1.2;
  font-size: 2.5rem;
}

@mixin f15 {
  line-height: 1;
  font-size: 1.5rem;
}

@mixin f13 {
  line-height: 1;
  font-size: 1.35rem;
}

@mixin f11 {
  line-height: 1.2;
  font-size: 1.15rem;
}

@mixin f09 {
  line-height: 1.3;
  font-size: 0.9rem;
}
