@use "../config" as *;

.footer {
  padding: 8em $column-width 2em;
  background: $black;
  color: $white;

  &__contact {
    &-mail {
      color: $white;

      @include f15;
    }
  }

  &__address {
    p {
      margin: 0;
    }
  }

  &__separator {
    margin: 3em auto;
    padding: 0 $column-width;
    border-color: $primary;
  }

  .ml-auto {
    @include media-breakpoint-up(md) {
      text-align: right;
      margin-left: auto;
    }
  }
}
